<% content_for :page_title, "Visits" %>
<table class="table">
  <thead>
    <tr>
      <th><abbr title="GUID">GUID</abbr></th>
      <th><abbr title="URL">URL</abbr></th>
      <th><abbr title="Date">Date</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <th><%= visit.guid %></th>
        <th><%= visit.url %></th>
        <th><%= visit.created_at %></th>
      </tr>
    <% end %>
  </tbody>
</table>
